# App Settings
LOG_LEVEL=INFO

# Database Settings (SQLite)
DATABASE_URL=sqlite+aiosqlite:///./tri9t_ai.db

# MongoDB Settings
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=tri9t_ai
MONGO_COLLECTION=generated_testcases

# Groq LLM API Settings
GROQ_API_KEY=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
